<md-sidenav class="md-sidenav-left sidenav" md-component-id="leftSideNav" md-is-locked-open="$mdMedia('gt-md')">

  <md-toolbar layout="row" ng-controller="NavbarCtrl as NavBar">
    <div class="md-toolbar-tools">
      <md-button class="menu-sidebar" ng-click="SideNav.toggleSideBar()" hide-gt-md
                 aria-label="Press to show side bar menu">
        <img src="assets/images/menu-icon.png" width="25px" height="25px">
        <!--<md-icon md-svg-icon="menu"></md-icon>-->
      </md-button>
      <h1>Julen Rojo</h1>



    </div>
  </md-toolbar>


  <md-list>
    <md-item ng-repeat="item in menu">
      <div class="options-wrap">
        <div class="options"><a ng-href="{{item.link}}"
                                              ng-click="SideNav.toggleSideBar()"
                                              class="options">{{item.title}}</a></div>
        <div ng-repeat="subItem in item.subs"><a ng-href="{{subItem.link}}"
                                                 ng-click="SideNav.toggleSideBar()" class="options second-opt">{{subItem
          .title}}</a></div>

      </div>
    </md-item>
  </md-list>
</md-sidenav>
